/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark .header__decoration {
  display: flex;
}

:root .theme_dark {
  --decor-color: #ff0070;
  --accent-color: #ff0070;

  --title-color: #db00ff;

  --title-decor-color: #ff0070;
  --title-decor-text-color: #000028;

  --page-title-font-weight: 700;
  --page-title-line-height: 83%;

  --button-color: #ff0070;
  --button-border-color: rgba(255, 0, 112, 0.4);

  --line-height: 130%;
  --main-page-font: 'IBM Plex Mono', sans-serif;

  --background-color: #000028; /* -__________- */
  --background-image: url(../images/cover-image-dark.png);
  
  --card-text-color: #f1b2ce;
}

