/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_light {
  --decor-color: #ff8dcb;
  --accent-color:#ff8dcb;

  --title-color: #ffc2e6;
  --title-decor-text-color: #000028;

  --button-color: #ff0070;
  --button-border-color: rgba(50, 49, 45, 0.4);

  --line-height: 130%;
  --main-page-font: 'IBM Plex Mono', sans-serif;
  
  --background-image: url(../images/cover-image-light.png);
}

/* визуаьно скрываем элемент с REC */
.theme_light .header__decoration  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-color: #353430;
    --accent-color: #ff0070;
  
    --title-color: #ffc2e6;

    --title-decor-color: #ff8dcb;
    --title-decor-text-color: #000028;
  
    --button-color: #353430;
    --button-border-color: rgba(50, 49, 45, 0.4);
  
    --line-height: 130%;
    --main-page-font: 'IBM Plex Mono', sans-serif;
    
    --background-image: url(../images/cover-image-light.png);   
    }
}

.page.theme_light {
  --decor-color: #353430;
  --accent-color:#ff8dcb;

  --title-color: #ffc2e6;

  --title-decor-color: #ff8dcb;
  --title-decor-text-color: #353430;

  --button-color: #353430;
  --button-border-color: rgba(50, 49, 45, 0.4);

  --line-height: 130%;
  --main-page-font: 'IBM Plex Mono', sans-serif;
  
  --background-image: url(../images/cover-image-light.png);

}